/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz8vZwnCo.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: #ff90b9;
  background: linear-gradient(129deg, rgba(255, 144, 185, 0.358981) 0%, rgba(122, 210, 233, 0.353379) 58%, rgba(198, 255, 221, 0.342174) 100%);
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 80px;
  color: #141414;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.container a {
  color: #141414;
}

.header {
  padding: 25px;
  text-align: center;
}

.header svg {
  width: 100px;
}

h2 {
  margin: 50px 0 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.garden li {
  max-width: 100%;
}

.garden p {
  max-width: 540px;
  text-align: center;
}

.available li {
  max-width: 50%;
}

.garden, .available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 25px;
  list-style-type: none;
}

.garden img, .available img {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 2;
}

.garden li, .available li {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.garden .illustration, .available .illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.garden .plant-name, .available .plant-name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 6px;
  background-color: #141414;
  border-radius: 5px;
  color: #ced3d1;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  z-index: 1;
}

.garden .add-remove, .available .add-remove {
  margin-top: 10px;
  text-align: center;
}

.garden .water, .available .water {
  position: absolute;
  top: 0;
  left: 0;
}

.garden .water .button, .available .water .button {
  width: 45px;
  height: 45px;
  background-color: #519c94;
  font-size: 24px;
}

.garden .button, .available .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 7px;
  background-color: #141414;
  border-radius: 50%;
  border: none;
  color: #ced3d1;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.garden .button + .button, .available .button + .button {
  margin-left: 5px;
}

.plant-details {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}

.plant-details h1 {
  margin: 0;
  padding: 0;
}

.plant-details .scientific-name {
  display: block;
}

.plant-details img {
  max-width: 100%;
  margin: 25px 0 0;
}

.plant-details .water-details {
  font-weight: 700;
  text-transform: uppercase;
}

.plant-details .details-description {
  text-align: justify;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 0 25px;
  text-align: center;
}

@media screen and (min-width: 450px) {
  .garden li {
    max-width: 50%;
  }
  .available li {
    max-width: 33%;
  }
}

@media screen and (min-width: 600px) {
  .available li {
    max-width: 25%;
  }
}

@media screen and (min-width: 850px) {
  .garden li {
    max-width: 25%;
  }
  .available li {
    max-width: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .garden li {
    max-width: 25%;
  }
  .available li {
    max-width: 11%;
  }
}
/*# sourceMappingURL=App.css.map */