/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz8vZwnCo.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #ced3d1), to(#8aa89c));
  background: linear-gradient(to bottom, #ced3d1 75%, #8aa89c);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #141414;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.container a {
  color: #141414;
}

.header {
  padding: 25px;
  text-align: center;
}

.header svg {
  width: 100px;
}

.garden li {
  max-width: 25%;
}

.garden p {
  max-width: 540px;
  text-align: center;
}

.available li {
  max-width: 15%;
}

.garden, .available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px;
  list-style-type: none;
}

.garden img, .available img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.garden li, .available li {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.garden .illustration, .available .illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.garden .add-remove, .available .add-remove {
  margin-top: 10px;
  text-align: center;
}

.garden .water, .available .water {
  position: absolute;
  top: 0;
  left: 0;
}

.garden .water .button, .available .water .button {
  width: 45px;
  height: 45px;
  background-color: #519c94;
  font-size: 24px;
}

.garden .button, .available .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 7px;
  background-color: #141414;
  border-radius: 50%;
  border: none;
  color: #ced3d1;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.garden .button + .button, .available .button + .button {
  margin-left: 5px;
}

.plant-details img {
  max-width: 300px;
}

.footer {
  padding: 0 25px;
  text-align: right;
}
/*# sourceMappingURL=App.css.map */