/* latin-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz8vZwnCo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

$background: #ced3d1;
$text: #141414;
$primary: #b0d6d2;
$secondary: #cc6c6c;

body {
    background-color: $background;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: $text;
    font-family: Montserrat, sans-serif;
    font-size: 16px;

    a {
        color: $text;
    }
}

.header {
    padding: 25px;
    text-align: center;

    svg {
        width: 100px;
    }
}

.garden {
    li {
        max-width: 180px;
    }
}

.available {
    li {
        max-width: 100px;
    }
}

.garden, .available {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 25px;
    list-style-type: none;

    img {
        width: 100%;
        height: auto;
    }

    li {
        position: relative;
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .illustration {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }

    .add-remove {
        margin-top: 10px;
        text-align: center;
    }

    .water {
        position: absolute;
        top: 0;
        left: 0;

        .button {
            width: 45px;
            height: 45px;
            background-color: darken($primary, 30);
            font-size: 24px;
        }
    }

    .button {
        box-sizing: border-box;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 0;
        padding: 7px;
        background-color: $text;
        border-radius: 50%;
        border: none;
        color: $background;
        font: {
            family: 'Montserrat', sans-serif;
            size: 14px;
            weight: 700;
        }
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;

        &+ .button {
            margin-left: 5px;
        }
    }
}

.plant-details {
    img {
        max-width: 300px;
    }
}

.footer {
    text-align: center;
}